@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto+Condensed:wght@600&display=swap');
@font-face {
    font-family:idroid ;
    src: url(fontes/idroid.otf);
}

/* variaveis */
:root {
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e; 
    --fonte-padrao:Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque:Bebas Neue, cursive;
    --fonte-android:idroid,cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

    /* area de corpo */
body {
    background-color:var(--color1);
    font-family: var(--fonte-padrao);
}




/* cabeçalho */

header {
    background-image: linear-gradient(to bottom,var(--color3), var(--color5) );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}

header > h1 {
    color: #ffff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.521);
    font-weight: normal;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em; 
    padding: 0 10px;
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.521);
}


nav{
    background-color: var(--color5);
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.363);
}

nav > a {
    color: var(--color1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;

}

nav > a:hover{
    background-color: var(--color3);
    color: var(--color5);
    transition-duration: 0.5s;

}

/* conteúdo */
main {
    min-width: 380px; 
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
    border-radius: 0 0 10px 10px;
}   

main  img {
    width: 100%;
}
.imgpequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    color: var(--color5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main  h2 {
    font-family: var(--fonte-android);
    color: var(--color4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--color1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}

main strong {
    color: var(--color4);
    font-weight: bold;
}

main  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color5);
    background-color: var(--color1);
    padding: 2px 6px;
}

a.externo::after{
    content: '\1F517\0020\0020';
}
main a:hover {
    text-decoration: underline;
    color: var(--color4);
}

div.video {
    background-color: var(--color5);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 58.5%;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* conteúdo extra */
aside {
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: "\2714\0020\0020";
}

aside > h3 {
    background-color: var(--color4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}

/* footer */
footer {
    background-color: var(--color5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px; 
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--color1);
}

/* https://androidcommunity.com/dan-morrill-shows-us-the-android-mascot-that-almost-was-20130103/ */